.SinglePhone_Body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.SinglePhone_Body-Favorite{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}